table {
    padding: 8px;
    width: 100%;
}

td, th {
    background-color: #30475e;
}

tr {
    background-color: #30475e;
    color: #f2a365;
} 

.rowBtn:hover {
    color: #ffffff;
    background-color: #f2a365;
    cursor: pointer;
    transition: 0.3s ease-in;
}