/* main background */
.backgroundMain {
    display: inline-block;
    background-color: #222831;
    width: 1300px;
    min-height: 100vh;
}

.backgroundBody {
    margin-left: 30%;
    background-color: #30475e;
    padding: 10px;
}